body{
    background-color: lightblue;
}
table {
    border-collapse: collapse;
  }
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}