body{
    background-color: #0F69F0;
}
table {
    border-collapse: collapse;
  }
h1 {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
h2 {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
p {
    font-family: georgia;
    font-size: 20px;
    color: lightgray;
}
div {
    display: grid;
     place-items: center;
     height: 1700px;
     border: 1px solid white;
     margin-top: 100px;
     margin-bottom: 100px;
     margin-right: 150px;
     margin-left: 150px;
   }
img {
     width: 50%;
}
tr:nth-child(even) {background-color: gray;}
th, td {
    border-bottom: 1px solid #ddd;
    font-family: verdana;
    color: whitesmoke
}