body{
    background-color: lightblue;
}
table {
    border-collapse: collapse;
  }
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
p {
    font-family: georgia;
    font-size: 20px;
}
div {
     place-items: center;
     display: flex;
     justify-content: center;
   }
img {
     width: 50%;
}
tr:nth-child(even) {background-color: lightgrey;}
th, td {
    border-bottom: 1px solid #ddd;
    font-family: georgia;
}