body{
    background-color: lightblue;
}
table {
    border-collapse: collapse;
  }
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
p {
    font-family: georgia;
    font-size: 20px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: 1px solid black;
  }
  
  img {
    width: 50%;
  }
tr:nth-child(even) {background-color: lightgrey;}
th, td {
    border-bottom: 1px solid #ddd;
    font-family: georgia;
}