body{
    background-color: crimson;
}
table {
    border-collapse: collapse;
  }
h1 {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
h2 {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
p {
    font-family: georgia;
    font-size: 20px;
    color: lightgray;
}
div {
    display: grid;
     place-items: center;
     height: 1700px;
     border: 1px solid white;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
   }
img {
     width: 60%;
    border-radius: 18px;
}
tr:nth-child(even) {background-color: gray;}
th, td {
    border-bottom: 1px solid #ddd;
    font-family: verdana;
    color: whitesmoke
}