*{
    margin: 0;
    padding: 0;
}


/* Navigation */
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Berlingske Sans", Arial, Helvetica, sans-serif;
}

.top-nav{
    list-style-type:none;
}


.container {
    background-color: black;
    color: white;
    max-width: 100%;
    margin: auto;
    padding: 0 1%;
    align-items: start;
    font-size: x-small;
}

/* Main Structure */
body {
    font-family:"Berlingske Sans", Arial, Helvetica, sans-serif;
    background:white;
    color:black;
}

#main-header {
    background:black;
    color:white;
    position:relative;
}

#main-nav {
    background:black;
}


/* Header */
.main-logo{
    display: flex;
    flex-direction: row;
}

.main-logo > h2 {
    padding-top: 4%;
    padding-right: 5%;
    text-align: right;
}

.main-logo img{
    width: 450px;
    height: 110px;
}

#main-nav{
    background-color: #73000a;
    text-align: end;
}

/* Images */
img {
    max-width:100%;
}


/* Gallery */
#gallery section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background:#73000a;
    padding:5px;
    border-radius:5px;
    color: white;
}

#gallery section h3 {
    margin: auto;
}
#gallery img {
    justify-content: center;
    width: 200px;
    height: 200px;
}


/* List */
.item {
    background: #73000a;
    display: flex;
    align-items: center;
}
.item img {
    display:flex;
}


/* Footer */
#main-footer {
    background-color: #650009;
}
#main-footer .square {
    width: 50px;
    height: 50px;
    border:black solid 3px;
}

#main-footer header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#main-footer img {
    width: 70%
}

#footer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
}
#footer-body section {
    display: block;
    margin:10px;
}
#footer-body section.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
#footer-body section.gallery-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#footer-body section h3 {
    margin: 0;
    color: white;
}
#footer-body section a {
    margin:0;
    color:white;
    text-decoration: none;
}
#footer-body section a:hover {
    margin:0;
    color:white;
    text-decoration: none;
    background-color: #dc5a65;
    padding: 3px;
}
#footer-body section hr {
    width: 100%;
    margin:0;

}

.gallery section {
    background: rgba(177,164,141, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.gallery section h3 {
    text-align: center;
    margin: 5px;
}
.gallery hr {
    width: 90%;
    border-color: #1c1914;
}

.gallery-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#final-footer {
    border-top:white 2px solid;
    background-color: black;
}
#final-nav ul{
    display: flex;
    flex-wrap:wrap;
    padding: 2em auto;
}
#final-nav ul a{
    color: white;
    text-decoration: none;
    line-height: 1.8
}
#final-nav ul a:hover{
    background-color:#dc5a65;
}
#final-nav li:not(:last-child)::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

/* Typography */
#main-header h2 {
    text-align: right;
    padding-right:20px;
}

.quote{
    color:#73000a;
}

.item{
    color: white;
}

.connection{
    background: lightgray;
    color: #73000a;
    text-align: center;
}

.connection a{
    color: white;
    background-color: #73000a;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.item a {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}



/* Larger devices */
@media (min-width: 768px) {

    .columns {
        display:flex;
        width: 100%;
        text-align: center;
    }
    .panels {
        display: flex;
        align-items: center;   
    }
    .quote{
        display: flex;
        flex-direction: row;
        width: 55%;
        margin: auto;
    }
    .quote img{
        border-radius: 400px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
    /* main-footer */
    #main-footer header {
        flex-direction: row;
    }
    #main-footer header img{
        width:400px;
    }
    #footer-body {
        flex-direction: row;
    }
    #footer-body section.gallery-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
    .top-nav ul {
        display:flex;
        list-style-type: none;
    }
    .one{
        flex: 1;
    }

}