/* Main Structure */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#3c6e71;
}

#main-content{
    background:#c1121f;
    width:80%;
    margin:auto;  /* Center */
    padding:5px 10px;
}

#main-header{
    background:#3c6e71;
}

#content{

}

#main-footer{

}

/* Gallery */
#gallery section {
    background: lightgray;
    padding:5px;
    border-radius: 5px;
    margin: 5px;
}

#gallery section h3 {
    text-align: center;
}

#gallery section p {
    text-align: center;
}

/* Navigation */
#main-nav ul{
    padding-left:0; /* remove indentation */
}

#main-nav li{
    list-style-type: none; /* remove bullet */
    background:#343a40;
    padding: 5px;
}

#main-nav a {
    text-decoration: none; /* remove underline */
    color:white;
}


/* Typography */
#main-header h1 {
    text-align: center;
    padding-top: 10px;
}

/* Larger Devices */
@media (min-width: 768px) {
    .columns {
        display:flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        background:transparent;
        flex:1;
        text-align: center;
    }

    #main-nav a {
        color:white;
    }

    #main-nav a:hover {
        border-bottom:1px solid #c1121f;
    }
}