body{
    background-color: #11254a;
}
h1 {
    color: white;
    text-align: center;
    font-family: Garamond;
}
h2 {
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
h3 {
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
p {
    font-family: Garamond;
    font-size: 20px;
    color: lightgray;
}
div {
    display: grid;
     place-items: center;
     height: 1200px;
     border: 1px solid white;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
img{
    width: 50%;
    height: auto;
}
ul li {
    color: white;
    margin: 5px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Lucida Handwriting", cursive;
}

a:hover, a:active {
  background-color: red;
}