body{
    background-color: #11254a;
}
a {
    color: white;
    font-weight: bold;
  }
h1 {
    color: white;
    text-align: center;
    font-family: Garamond;
}
h2 {
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
h3 {
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
p {
    font-family: Garamond;
    font-size: 20px;
    color: lightgray;
}
div {
    display: grid;
     place-items: center;
     height: 1000px;
     border: 1px solid white;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
img{
    width: 50%;
    height: auto;
}
ul li {
    color: white;
    margin: 5px;
  }